.logo {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.logofield {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: lightgray;
    justify-content: space-between;
}