.option .btn{
    margin-top: 3rem;
    width: 10rem;
    background-color: black;
}

.option{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 3rem;
    width: 50%;
}

.card_header{
    font-weight: bold;
}

.word{
    background-image: url('../../../images/word.png');
}

.sentence{
    background-image: url('../../../images/word.png');
}