.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 50%;
}
.back{
    margin: 10px;
}
.headerbox {
    display: flex;
    justify-content: space-between;
}
.progressbar {
    margin-bottom: 20px;
}