.second{
    border: 1px solid black;
    height: 40vh;
    border-radius: 10%;
}
.first{
    border: 1px solid black;
    height: 50vh;
    border-radius: 10%;

}

.third{
    border: 1px solid black;
    height: 30vh;
    border-radius: 10%;
}

.rankBoard{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.rankTable{
    border: 1px solid black;
    width: 60%;
    border-radius: 10px;
    display: block;
    margin: 100px auto;
}
.rankTable h2{
    text-align: center;
}
@media (max-width: 767.98px) {
    .layout {
        height: 100vh;
    }
    .rankTable {
        width: 80%;
        margin-top: 200px;
        margin-bottom: 200px;
    }
}