.adminContent{
    padding-left: 0;
}
.headerAd{
    padding: 0;
    height: 5rem;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sidebar{
    padding: 0;
}
.content{
    padding: 0;
}

.adminAva{
    display: flex;
    font-size: x-large;
    padding-right: 24px;
}

.adminAva .avatar{
    margin-right: 2vh;
}