.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 50%;
}
.btn{
    width: 100px;
}
.cardBody {
    text-align: center;
}

.actionBtn{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.cardBody .iconBtn{
    font-size: 100px;
    background-color: aliceblue;
}

.content{
    display: flex;
    justify-content: center;
}